{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} Welcome | {{ block.super }} {% endblock %}


<style>

    {% block style %}

    {% endblock %}
</style>




{% block jumbotron %}
{%  if not request.user.is_authenticated %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 col-xs-12">
        <h1> Nutantech Technologies Private Limited </h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
        </p>
        </div>
        <div class="col-md-6 col-xs-12" style="height:300px;">
            <iframe width="505" height="295" src="https://www.youtube.com/embed/sIl8vsWrD8o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<h1>You are logged in!</h1>

    {% if queryset %}
    <h1>Welcome to staff</h1>
    <table class="table">
    {% for listdata in queryset %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ listdata }}</td>
            <td> {{ listdata.full_name }}</td>
            <td>{{ listdata.timestamp|timesince }}</td>
        </tr>
    {% endfor  %}
    </table>
    {% endif %}

{% else %}
<div class="row">
    <div class="col-md-3 col-xs-12" >
        <p class="text-align-center">Build with Django &amp; Bootstrap </p>
        <img src="{% static 'img/pexels-photo-248797.jpeg' %}" class="img-responsive">
    </div>
    <div class="col-md-4 col-xs-12 pull-right">
        <p class="lead">{{ title }}</p>
        <form method="POST" action=".">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Sign Up">

        </form>
    </div>
</div>
{% endif %}
{% endblock %}